/* whole photocard container */

.project-card {
  container-type: size;
  container-name: card;
  width: 300px;
  height: 395px;
  background-color: white;
  box-shadow: -2px 2px 1px #D9D9D9;

  display: flex;
  justify-content: start;

  border-style: solid;
  /* border-color: rgb(205, 205, 205); */
  border-color: white;
  border-width: 1px;
}

/* containerof thumbnail photos */
.project-card .thumbnail {
  height: 45cqh;
  width: 90cqw;
  background-color: #D9D9D9;

  margin-left: 5cqw;
}

.text-wrapper {
  width: 90cqw;
  margin-left: 5cqw;
}

.text {
  text-align: left;
}
.subheading {
  text-align: left;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;

  margin: 0.5em 0;
}

@container card (min-width: 280px) {
  /* these are like media queries */
}
