.navbar {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbarHeader {
    font-family: Autography;
    font-size: 2em;
}

.navbarWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1cm;

    justify-items: center;
    max-width: 500px;
}

.navbarLink {
    font-family: Autography;
    font-size: 1.5em;
}

.navbarLink:hover {
    text-decoration: underline;
}