:root {
	/* ------- colors ------- */
	--primary-color: #3C63FF;
	--secondary-color: #3C3744;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #FFB4EC;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Courier New", Monospace;
	--secondary-font: "Courier New", Monospace;
	/* --------------------- */
}
